@tailwind base;
@tailwind components;

/* farver */
.black-o38 {
  @apply bg-[var(--black-o38)];
}

.sand-100 {
  @apply bg-[var(--sand-100)];
}

.sand-o58 {
  @apply bg-[var(--sand-o58)];
}

.sand-lys {
  @apply bg-[var(--sand-lys)];
}

.grøn-100 {
  @apply bg-[var(--grøn-100)];
}

.grøn-100-o58 {
  @apply bg-[var(--grøn-100-o58)];
}
.grøn-100-o33 {
  @apply bg-[var(--grøn-100-o33)];
}

.grøn-lys {
  @apply bg-[var(--grøn-lys)];
}

.grøn-200 {
  @apply bg-[var(--grøn-200)];
}

.grøn-300 {
  @apply bg-[var(--grøn-300)];
}

.grøn-350 {
  @apply bg-[var(--grøn-350)];
}
.grøn-500 {
  @apply bg-[var(--grøn-500)];
}

.grøn-700 {
  @apply bg-[var(--grøn-700)];
}

/*font styles*/

.primary-font {
  @apply font-[var(--primary-font)];
}

.bold {
  @apply font-[var(--bold)];
}

.semi-bold {
  @apply font-[var(--semi-bold)];
}

.light {
  @apply font-[var(--light)];
}
/*font størrelser mobil*/

.h1-sizeM {
  @apply text-[var(--h1-sizeM)];
}

.h2-sizeM {
  @apply text-[var(--h2-sizeM)];
}

.h3-sizeM {
  @apply text-[var(--h3-sizeM)];
}
.body-sizeM {
  @apply text-[var(--body-sizeM)];
}

/*font størrelser desktop*/

.h1-sizeD {
  @apply text-[var(--h1-sizeD)];
}

.h2-sizeD {
  @apply text-[var(--h2-sizeD)];
}

.h3-sizeD {
  @apply text-[var(--h3-sizeD)];
}
¨ .h4-sizeD {
  @apply text-[var(--h4-sizeD)];
}

.body-bold-sizeD {
  @apply text-[var(--body-bold-sizeD)];
}

.body-light-sizeD {
  @apply text-[var(--body-light-sizeD)];
}

.body-mini-sizeD {
  @apply text-[var(--body-mini-sizeD)];
}

@tailwind utilities;

@layer base {
}

@import url("https://use.typekit.net/prt2ztm.css");

/*

Poppins Regular

font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal;

Poppins Light

font-family: "poppins", sans-serif;
font-weight: 300;
font-style: normal;

Poppins Bold

font-family: "poppins", sans-serif;
font-weight: 700;
font-style: normal;

Poppins Semibold

font-family: "poppins", sans-serif;
font-weight: 600;
font-style: normal;

*/

:root {
  /*farver
  --white: white;
  --black: black;
  --black-o38: #00000061; 

  --sand-100: #c9a788;
  --sand-o58: #c9a78894; 
  --sand-lys: #d9b594;

  --grøn-100: #5e8b4b;
  --grøn-100-o58: #5e8b4b94; 
  --grøn-100-o33: #5e8b4b54; 
  --grøn-lys: #7ab861;
  --grøn-200: #65a04c;
  --grøn-300: #739466;
  --grøn-350: #6c925c;
  --grøn-500: #4d6f3d;
  --grøn-700: #445a3a;
*/

  /*font-styles*/

  --primary-font: "poppins";
  --bold: "poppins", Bold;
  --semi-bold: "poppins", Semibold;
  --light: "poppins", light;

  /*font størrelser - mobil*/

  --h1-sizeM: 28px;
  --h2-sizeM: 22px;
  --h3-sizeM: 16px;
  --body-sizeM: 14px;

  /*font størrelser - desktop*/

  --h1-sizeD: 156px;
  --h2-sizeD: 44px;
  --h3-sizeD: 34px;
  --h4-sizeD: 28px;

  --body-bold-sizeD: 20px;
  --body-light-sizeD: 20px;
  --body-mini-sizeD: 12px;
}

body {
  background-image: url(img/bgimg.gif);
}
