---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import IndexSection1 from "../components/IndexSection1.astro";
import IndexSection2 from "../components/IndexSection2.astro";
import IndexSection3 from "../components/IndexSection3.astro";
import IndexSection4 from "../components/IndexSection4.astro";
import IndexSection5 from "../components/IndexSection5.astro";
import IndexSection6 from "../components/IndexSection6.astro";
---

<MainLayout title="Forside">
  <p>Hej 2</p>

<IndexSection1></IndexSection1>
<IndexSection2></IndexSection2>
<IndexSection3></IndexSection3>
<IndexSection4></IndexSection4>
<IndexSection5></IndexSection5>
<IndexSection6></IndexSection6>


</MainLayout>
