---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Registrer dit bidrag">
  <h1 class="text-h2-d font-bold pl-36 pt-16">Registrer dit bidrag</h1>
  <section class="grid grid-cols-2 pt-20 pb-60 pr-36">
    <div class="pl-36 pr-12">
      <img src="img/registrering.svg" alt="" />
    </div>
    <div
      class="bg-gron-100-o58 rounded-2xl text-body-light-d font-light flex flex-col pl-12 pt-12 pb-12"
    >
      <p>hej</p>
    </div>
  </section>
</MainLayout>
