---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import "../styles/tailwind.css";
---

<MainLayout title="Ressourcer og materiale">
  <section class="pt-20 sm:pt-0">
    <h1 class="text-h2-m pl-12 sm:text-h2-d font-bold pl-36 pt-16">
      Ressourcer og materiale
    </h1>
    <article class="sm:grid grid-cols-2 pt-20 pb-60 pr-36">
      <div class="pl-36 pb-8">
        <img src="/img/ressource-fig.svg" alt="" />
      </div>
      <div
        class="ml-12 bg-gron-100-o58 rounded-2xl text-body-light-m font-light sm:bg-gron-100-o58 rounded-2xl text-body-light-d font-light flex flex-col pl-12 pt-12 pb-12"
      >
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1LZAIsGLSJl7fOdqdp53YscYc0XTd2xv3/view"
            target="_blank">Retninglinjer for individuelle</Link
          >
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view"
            target="_blank">Retninglinjer for virksomheder</Link
          >
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view"
            target="_blank">Retninglinjer for skoler</Link
          >
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view"
            target="_blank">Retninglinjer for kommuner</Link
          >
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view"
            target="_blank"
            >Hvordan du ryder op i din computer og Drive
          </Link>
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view"
            target="_blank"
            >Hvordan du ryder op i din email
          </Link>
        </div>
        <div class="pb-4">
          <Link
            href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view"
            target="_blank"
            >Hvordan du ryder op i din smartphone og tablet
          </Link>
        </div>
        <div class="pb-4">
          <Link
            href="https://docs.google.com/spreadsheets/d/1LvTHVLLRsCICSQ-FMwtqy1whl1PlQFKy/edit?gid=631660431#gid=631660431"
            target="_blank"
            >Deltager data samling 1
          </Link>
        </div>
        <div class="pb-4">
          <Link
            href="https://docs.google.com/spreadsheets/d/1k56qMJsp3zgDhlsCngBhdjaSHP_z9TqM/edit?gid=464700726#gid=464700726"
            target="_blank"
            >Deltager data samling 2
          </Link>
        </div>
        <div class="">
          <Link
            href="https://trello.com/b/YzROvY3M/digital-cleanup-day"
            target="_blank"
            >Maketing materiale
          </Link>
        </div>
      </div>
    </article>
  </section>
</MainLayout>
