---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import "../styles/tailwind.css";
---

<MainLayout title="Ressourcer og materiale">
  <h1 class="text-h2-d font-bold pl-36 pt-16">Ressourcer og materiale</h1>
</MainLayout>
