---

const {variant="primary", state="default", } = Astro.props;


// gælder for alle //
const buttonStyling = "rounded-full mx-1";

const variantClasses ={
"primary": "primary-btn",
"secondary": "",

};

const sizeClasses ={
    "large":"",
    "medium": "",
    "small": ""
};

const stateClasses ={
"default":"",
"hover":""
}
---

<button class:list={[buttonStyling, variantClasses[variant], stateClasses[state]]}><slot /></button>
