---

const {variant="primary", state="default", size="medium", } = Astro.props;


// gælder for alle //
const buttonStyling = "";

const variantClasses ={
"primary": "",
"secondary": ""
};

const sizeClasses ={
    "large":"text-4xl px-10",
    "medium": "text-2xl px-8",
    "small": "text-xl px-4"
};

const stateClasses ={
"default":"",
"hover":""
}
---

<button class:list={[buttonStyling, variantClasses[variant], stateClasses[state], sizeClasses[size]]}><slot /></button>
