---

const {variant="primary", } = Astro.props;


// gælder for alle //
const buttonStyling = "rounded-full px-4 py-2 border-2 border-black font-primary text-h3-m";

const variantClasses ={
"primary": "bg-gron-100 hover:bg-gron-lys",
"secondary": "bg-sand-100 hover:bg-sand-lys"

};



---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
