---
---
<div class="bg-sand-o58 p-12 md:grid grid-cols-3 gap-10">

<section class="1 mb-4 ">
    <div class="flex flex-row"><h2 class="font-primary font-bold text-h2-m md:text-h4-m">Digital skraldedag</h2>
      <a href="../pages/index.astro"> <img class="w-full" src="/public/img/logo.svg" alt=""></a> </div>

<p class="font-primary font-light text-body-m md:text-h3-m">Digital Cleanup Day er en dag dedikeret til at rydde op og omstrukturere vores online tilstedeværelse.</p>
</section>

<section class="2 flex flex-col justify-items-center items-center justify-content-center md:flex-row gap-10 md:col-span-2 ">
    <div class="mb-2  w-fit"> 
        <div><img class="" src="/public/img/Isolation_Mode.svg" alt=""></div>
        <div> <p class="text-gron-100 font-bold text-center">1,184,747 deltagere</p></div>
    </div>
    <div class="mb-2 w-fit ">
        <div> <img class="" src="  /public/img/Layer_2.svg" alt=""> </div>
        <div> <p class="text-gron-100 font-bold text-center">14.5 M BG af data slettet</p></div>
    </div>
    <div class=" w-fit">
        <div> <img class="w-" src="  /public/img/Layer_2-1.svg " alt=""></div>
        <div>  <p class="text-gron-100 font-bold text-center">3,625 tons CO2 forhindret årligt*</p></div>
    </div>
       
</section>

</div>
  