---
---
<div class="bg-sand-o58">

<section class="1">
    <div class="flex flex-row"><h2 class="font-primary font-bold text-h2-m">Digital skraldedag</h2>
      <a href="../pages/index.astro"> <img src="/public/img/logo.svg" alt=""></a> </div>

<p class="font-primary font-light text-body-m md:text-body-light-d">Digital Cleanup Day er en dag dedikeret til at rydde op og omstrukturere vores online tilstedeværelse.</p>
</section>

<section class="2">
    <img src="/public/img/Isolation_Mode.svg" alt="">
</section>

</div>
  