---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import "../styles/tailwind.css";
---

<div
  x-data="{ showmenu: false }"
  class="p-4 fixed lg:static w-full bg-sand-o58"
>
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="">
      <a href="/"><img src="/img/logo.svg" alt="" /></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <!-- <li class="">
          <Link href="/">Forside</Link>
        </li>alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
        <li class=""><Link href="/hvordan">Hvordan bidrager jeg?</Link></li>
        <li class=""><Link href="/ressourcer">Ressourcer</Link></li>
        <!-- <li class=""><Link href="#registering">Registrer dit bidrag</Link></li> -->
        <Button variant="primary"
          ><a href="/registrering">Registrer dit bidrag</a></Button
        >
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      >Menu</button
    >
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul>
      <li class="text-center py-2 border-y-2">
        <Link href="/">Home</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="/hvordan">Hvordan bidrager jeg?</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="/ressourcer">Ressourcer</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="/registrering">Registrer dit bidrag</Link>
      </li>
    </ul>
  </nav>
</div>
