<div class="bg-gron-100-o33 md:hidden">
  <h1 class="text-black text-center text-h1-m font-bold font-primary py-20">
    Problemet med digital skrald
  </h1>

  <div class="flex flex-col gap-4 pb-20">
    <div>
      <img class="mx-auto" src="/img/illu1indexs3.svg" alt="" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Hjælper med at reducere CO2- <br />udledning
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu2indexs3.svg" alt="En fil der deles" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Fremskynder og forenkler deling <br />og søgning af information
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu3indexs3.svg" alt="Skov med signal" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Forlænger dine enheders <br />levetid
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu4indexs3.svg" alt="En lille fil" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Reducerer sikkerhedsrisici ved <br />datalagring
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu5indexs3.svg" alt="En reol med mere lærigsplads" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Øger disk- og serverkapacitet, <br />hjælper med at reducere omkostningerne
      </p>
    </div>
  </div>
</div>

<!-- For larger screens (md and up) -->
<div class="hidden md:block bg-gron-100-o33 px-10">
  <h1 class="text-black text-h2-d font-bold font-primary py-20">
    Problemet med digital skrald
  </h1>

  <div class="grid grid-cols-5 gap-4 pb-20">
    <div>
      <img class="mx-auto" src="/img/illu1indexs3.svg" alt="" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Hjælper med at reducere CO2-udledning
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu2indexs3.svg" alt="En fil der deles" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Fremskynder og forenkler deling og søgning af information
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu3indexs3.svg" alt="En telefon med timeglas" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Forlænger dine enheders levetid
      </p>
    </div>

    <div>
      <img class="mx-auto" src="/img/illu4indexs3.svg" alt="En fil med en lås på" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Reducerer sikkerhedsrisici ved datalagring
      </p>
    </div>

    <div class="-mt-40">
      <img class="mx-auto" src="/img/illu5indexs3.svg" alt="En reol med mere lærigsplads" />
      <p class="text-black font-regular text-body-bold-m-m text-center font-primary">
        Øger disk- og serverkapacitet, hjælper med at reducere omkostningerne
      </p>
    </div>
  </div>
</div>
