---
---

<div class="py-14 px-10">

    <h1 class="font-primary font-bold text-h2-m text-center md:text-left  mb-4 md:text-h1-m">Fakta om digital skrald</h1>

<div class="md:grid grid-rows-2 grid-cols-3 gap-4">



<div class="rounded-lg bg-gron-100 p-5 mb-4">
    <div class="-mt-4">
        <div>
<h2 class="font-primary font-light text-h2-d text-sand-100 text-right">2035</h2>
<p class="font-primary font-light text-body-bold-m text-sand-100 -mt-3 text-right leading-none">1 zetabite = 20 trillioner træer</p>
</div>
</div>

<img class="mx-auto w-3/4 mt-2" src="/img/skovindexs5.svg" alt="">

</div>



<div class="rounded-lg bg-gron-200 p-5 mb-4">
    <div class="-mt-4">
<div>
<h2 class="font-primary font-light text-h2-d text-sand-100 text-right">900 mio.</h2>
<p class="font-primary font-light text-body-bold-m text-sand-100 -mt-3 text-right leading-none">tons CO2 hvert år</p>
</div>
</div>

<img class="mx-auto w-3/4 mt-2 " src="/img/computerindexs5.svg" alt="">

</div>


<div class="grid grid-cols-3">
<div class="rounded-lg bg-gron-300 p-5 mb-4 col-start-2 col-span-2 md:col-start-1" >
    <div class="-mt-4">
<div>
<h2 class="font-primary font-light text-h2-d text-sand-100 text-right leading-none">20 mio.</h2>
<p class="font-primary font-light text-body-bold-m text-sand-100 text-right leading-none">tons CO2 hvert år <br> består af spam <br>
     emails</p>
</div>
</div>

<img class="mx-auto w-3/4 my-4 " src="/img/spamindexs5.svg" alt="">

</div>
</div>


<!-- 
<div class=" rounded-2xl relative h-40 bg-gron-700 overflow-hidden">
    <div class="relative z-10 p-4">
        <h2 class="font-primary font-light text-h2-d text-sand-100 text-right leading-none">Sidste 10 år</h2>
        <img class="mx-auto" src="/img/tidindexs5.svg" alt=""/>
      </div>
    <div class="absolute inset-0 bg-gron-350" style="height: 50%;">

       

          <div class="absolute inset-x-0 bottom-0 bg-gron-350 h-1/2 z-10s">
            <h2 class="font-primary font-light text-h2-d text-sand-100 text-right leading-none">4g CO2 = 6 min. lys</h2>
            <img class="mx-auto" src="/img/computer2indexs5.svg" alt=""/>
            <img src="/img/pareindexs5.svg" alt="">
          </div>

    </div>
  </div>
  -->

  <img class="mb-4 md:w-full" src="/img/sidsteindexs5.svg" alt="">

  <div class="rounded-lg bg-gron-500 p-5 mb-4">
    <div class="-mt-4">
<div>
<h2 class="font-primary font-light text-h2-d text-sand-100 text-right">2022</h2>
<p class="font-primary font-light text-body-bold-m text-sand-100 -mt-3 text-right leading-tight">70 millioner servere blev brugt til at opbevare data = 20 millioner tons elektronisk affald</p>
</div>
</div>

<img class="mx-auto w-3/4 mt-2 " src="/img/skraldindexs5.svg" alt="">

</div>

</div>
  

</div>