<div class="bg-gron-100-o33 md:hidden">
  <Fragment
    <<<<<
    HEAD
    <h1
    class="text-black-o38 text-center text-h1-m font-bold font-primary py-20"
  >
    =======
    <h1 class="text-black text-center text-h1-m font-bold font-primary py-20">
      >>>>>> 03d020bedd864660337435b6797340102bed52ff Problemet med digital
      skrald
    </h1>

    <div class="flex flex-col gap-4 pb-20">
      <div>
        <Fragment <<<<< HEAD <div
          ><img class="mx-auto" src="/img/illu1indexs3.svg" alt="" /></Fragment
        >
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <div
        >
        </p>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Hjælper med at
          reducere CO2- <br />udledning
        </p>
      </div>

      <div>
        <div>
          <img
            class="mx-auto"
            src="/img/illu2indexs3.svg"
            alt="En fil der deles"
          />
        </div>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          Fremskynder og forenkler deling <br /> og søgning af information
        </p>
      </div>

      <div>
        <div>
          <img
            class="mx-auto"
            src="/img/illu3indexs3.svg"
            alt="Skov med signal"
          />
        </div>
        <p
          class="text-sand-100 font-bold text-body-bold-m-m text-center font-primary"
        >
          Forlænger dine enheders <br />levetid
        </p>
      </div>

      <div>
        <div>
          <img class="mx-auto" src="/img/illu4indexs3.svg" alt="en lille fil" />
        </div>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          Reducerer sikkerhedsrisici ved <br /> datalagring
        </p>
      </div>

      <div>
        <Fragment <<<<< HEAD <div>
          <div><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></div>
          <p
            class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
            <div
          >
            <img
              class="mx-auto"
              src="/img/illu3indexs3.svg"
              alt="En telefon med timeglas"
            />
          </p>
          <p
            class="text-black font-regular text-body-bold-m-m text-center font-primary"
          >
            >>>>>> 03d020bedd864660337435b6797340102bed52ff > Forlænger dine
            enheders <br />levetid
          </p>
        </Fragment>

        <div>
          <Fragment <<<<< HEAD <div
            ><img
              class="mx-auto"
              src="/img/illu4indexs3.svg"
              alt=""
            /></Fragment
          >
          <p
            class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
            <div
          >
            <img
              class="mx-auto"
              src="/img/illu4indexs3.svg"
              alt="En fil med en lås på"
            />
          </p>
          <p
            class="text-black font-regular text-body-bold-m-m text-center font-primary"
          >
            >>>>>> 03d020bedd864660337435b6797340102bed52ff > Reducerer
            sikkerhedsrisici ved <br /> datalagring
          </p>
        </div>

        <div>
          <Fragment <<<<< HEAD <div>
            <div>
              <img class="mx-auto" src="/img/illu5indexs3.svg" alt="" />
            </div>
            <p
              class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
              <div
            >
              <img
                class="mx-auto"
                src="/img/illu5indexs3.svg"
                alt="En reol med mere lærigsplads"
              />
            </p>
            <p
              class="text-black font-regular text-body-bold-m-m text-center font-primary"
            >
              >>>>>> 03d020bedd864660337435b6797340102bed52ff > Øger disk- og
              serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
            </p>
          </Fragment>
        </div>
      </div>

      <div class="hidden md:block bg-gron-100-o33 px-10">
        <Fragment
          <<<<<
          HEAD
          <h1
          class="text-black-o38 text-h2-d font-bold font-primary py-20"
        >
          =======
          <h1 class="text-black text-h2-d font-bold font-primary py-20">
            >>>>>>> 03d020bedd864660337435b6797340102bed52ff Problemet med
            digital skrald
          </h1>

          <div class="grid grid-cols-5 gap-4 pb-20">
            <div>
              <div class="">
                <Fragment
                  <<<<<
                  HEAD
                  <img
                  class="mx-auto"
                  src="/img/illu1indexs3.svg"
                  alt=""></Fragment>
              </div>
              <p
                class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
              >
              </p><img
                class="mx-auto"
                src="/img/illu1indexs3.svg"
                alt="En computer med CO2 skyer omkring sig"
              />
            </div>
          </div>
          <p
            class="text-black font-regular text-body-bold-m-m text-center font-primary"
          >
            >>>>>> 03d020bedd864660337435b6797340102bed52ff > Hjælper med at
            reducere CO2- <br />udledning
          </p>
        </Fragment>

        <div>
          <div class="mt-40">
            <fragment HEAD></fragment><img
              class="mx-auto"
              src="/img/illu2indexs3.svg"
              alt=""
            />
          </div>
          <p
            class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          >
          </p><img
            class="mx-auto"
            src="/img/illu2indexs3.svg"
            alt="En fil der deles"
          />
        </div>
      </div>
      <p
        class="text-black font-regular text-body-bold-m-m text-center font-primary"
      >
        Fremskynder og forenkler deling <br /> og søgning af information
      </p>
    </div>

    <div>
      <fragment HEAD <div
        ><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></fragment
      >
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
        <div
      >
        <img
          class="mx-auto"
          src="/img/illu3indexs3.svg"
          alt="En telefon med timeglas"
        />
      </p>
      <p
        class="text-black font-regular text-body-bold-m-m text-center font-primary"
      >
        Forlænger dine enheders <br />levetid
      </p>
    </div>

    <div>
      <div class="mt-40">
        <Fragment HEAD <img class="mx-auto" src="/img/illu4indexs3.svg" alt=""
        ></Fragment>
      </div>
      <p
        class="text-black-o38 text-center text-h1-m font-bold font-primary py-20"
      >
        <img
          class="mx-auto"
          src="/img/illu4indexs3.svg"
          alt="En fil med en lås på"
        />
      </p>
    </div>
    <p
      class="text-black font-regular text-body-bold-m-m text-center font-primary"
    >
      Reducerer sikkerhedsrisici ved <br /> datalagring
    </p>
  </Fragment>

  <div class="-mt-40">
    <fragment HEAD <div
      ><img class="mx-auto" src="/img/illu5indexs3.svg" alt="" /></fragment
    >
    <p
      class="text-black-o38 text-center text-h1-m font-bold font-primary py-20"
    >
      <div>
        <img
          class="mx-auto"
          src="/img/illu5indexs3.svg"
          alt="En reol med mere lærigsplads"
        />
      </div>
      <p
        class="text-black font-regular text-body-bold-m-m text-center font-primary"
      >
        >>>>>> 03d020bedd864660337435b6797340102bed52ff > Øger disk- og
        serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
      </p>
    </p>
  </div>
</div>
