---
import Button from "./Button.astro";
---

<div class="bg-sand-o58 px-10 py-14 md:flex flex-row-reverse gap-16">
  <div class="">
    <p
      class="font-light font-primary text-body-bold-d pb-4 md:text-body-bold-d"
    >
      Vær smart – undgå at fodre global opvarmning med digitalt affald!
    </p>
    <h2 class="font-bold text-h1-m font-primary pb-4 leading-snug">
      Skær ned på dit CO2-udslip ved at deltage i Digital Cleanup Day!
    </h2>
    <Button variant="primary"
      ><a href="/registrering">Registrer dit bidrag</a></Button
    >
  </div>

  <div class="">
    <img
      class="w-fit mx-auto mt-8 md:mt-0"
      src="/img/figurindexs4.svg"
      alt="Den grønne person ved en fyldt skraldespand"
    />
  </div>
</div>
