<div id="target_section" class="md:grid grid-cols-2 bg-sand-o58 px-10 pt-14 md:pt-44">
  <div class="">
    <h1 class="text-h1-m font-bold">Hvad er digitalt skrald?</h1>
    <p>
      Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale
      liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. <br
      />
      <br />

      Nu i sit femte år, og organiseret af Let's Do It World, har Digital
      Cleanup Day til formål at skabe opmærksomhed om digital forurening og
      opfordre enkeltpersoner og virksomheder til at rydde op og omstrukturere
      deres online tilstedeværelse.
    </p>
  </div>
  <div class="">
    <div class="">
      <img
        class="cursor-pointer w-1/4 justify-self-end absolute right-0 md:w-20"
        src="/img/kalenderindexs2.svg"
        alt="Sticky kalender til at minde dig om den Digitale Skralde dag d. 15 marts 22025"
      />
    </div>
    <img
      class="w-1/2 mx-auto pt-10"
      src="/img/figurindexs2.svg"
      alt="Den grønne mand som tænker"
    />
  </div>
</div>
