---
import Button from "./Button.astro"
---
<style>
.btn{
    top: 725%;
}
@media (min-width: 1024px) {
  
  .btn{
    right: 75%;
    top:605%;
  }
}
</style>

<div class="bg-sand-o58 py-14 px-10">

    <h1 class="font-primary font-bold text-h2-m text-center md:text-left  mb-4 md:text-h1-m">Registrer dit bidrag</h1>
    <img src="/img/figurindexs6.svg" alt="">


    <div class="btn absolute right-28">
        <Button variant="primary"
        ><a href="/registrering">Registrer dit bidrag</a></Button>
    </div>
</div>