<div class="bg-gron-100-o33 md:hidden">
  <<<<<<< HEAD
  <h1 class="text-black-o38 text-center text-h1-m font-bold font-primary py-20">
    =======
    <h1 class="text-black text-center text-h1-m font-bold font-primary py-20">
      >>>>>>> 03d020bedd864660337435b6797340102bed52ff Problemet med digital
      skrald
    </h1>

    <div class="flex flex-col gap-4 pb-20">
      <div>
        <<<<<<< HEAD
        <div><img class="mx-auto" src="/img/illu1indexs3.svg" alt="" /></div>
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <div
        >
          <img
            class="mx-auto"
            src="/img/illu1indexs3.svg"
            alt="En computer med CO2 skyer omkring sig"
          />
        </p>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Hjælper med at
          reducere CO2- <br />udledning
        </p>
      </div>

      <div>
        <div>
          <img
            class="mx-auto"
            src="/img/illu2indexs3.svg"
            alt="En fil der deles"
          />
        </div>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          Fremskynder og forenkler deling <br /> og søgning af information
        </p>
      </div>

      <div>
        <div><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></div>
        <p
          class="text-sand-100 font-bold text-body-bold-m-m text-center font-primary"
        >
          Forlænger dine enheders <br />levetid
        </p>
      </div>

      <div>
        <div>
          <img
            class="mx-auto"
            src="/img/illu4indexs3.svg"
            alt="En fil med en lås på"
          />
        </div>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          Reducerer sikkerhedsrisici ved <br /> datalagring
        </p>
      </div>

      <div>
        <<<<<<< HEAD
        <div><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></div>
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <div
        >
          <img
            class="mx-auto"
            src="/img/illu3indexs3.svg"
            alt="En telefon med timeglas"
          />
        </p>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Forlænger dine
          enheders <br />levetid
        </p>
      </div>

      <div>
        <<<<<<< HEAD
        <div><img class="mx-auto" src="/img/illu4indexs3.svg" alt="" /></div>
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <div
        >
          <img
            class="mx-auto"
            src="/img/illu4indexs3.svg"
            alt="En fil med en lås på"
          />
        </p>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Reducerer
          sikkerhedsrisici ved <br /> datalagring
        </p>
      </div>

      <div>
        <<<<<<< HEAD
        <div><img class="mx-auto" src="/img/illu5indexs3.svg" alt="" /></div>
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <div
        >
          <img
            class="mx-auto"
            src="/img/illu5indexs3.svg"
            alt="En reol med mere lærigsplads"
          />
        </p>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Øger disk- og
          serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
        </p>
      </div>
    </div>
  </h1>

  <div class="hidden md:block bg-gron-100-o33 px-10">
    <<<<<<< HEAD
    <h1 class="text-black-o38 text-h2-d font-bold font-primary py-20">
      =======
      <h1 class="text-black text-h2-d font-bold font-primary py-20">
        >>>>>>> 03d020bedd864660337435b6797340102bed52ff Problemet med digital
        skrald
      </h1>

      <div class="grid grid-cols-5 gap-4 pb-20">
        <div>
          <div class="">
            <<<<<<< HEAD
            <img class="mx-auto" src="/img/illu1indexs3.svg" alt="" />
          </div>
          <p
            class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
            <img
            class="mx-auto"
            src="/img/illu1indexs3.svg"
            alt="En computer med CO2 skyer omkring sig"
          >
          </p>
        </div>
        <p
          class="text-black font-regular text-body-bold-m-m text-center font-primary"
        >
          >>>>>> 03d020bedd864660337435b6797340102bed52ff > Hjælper med at
          reducere CO2- <br />udledning
        </p>
      </div>

      <div>
        <div class="mt-40">
          <fragment HEAD <img class="mx-auto" src="/img/illu2indexs3.svg" alt=""
          ></fragment>
        </div>
        <p
          class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
          <img
          class="mx-auto"
          src="/img/illu2indexs3.svg"
          alt="En fil der deles"
        >
        </p>
      </div>
      <p
        class="text-black font-regular text-body-bold-m-m text-center font-primary"
      >
        >>>>>> 03d020bedd864660337435b6797340102bed52ff > Fremskynder og
        forenkler deling <br /> og søgning af information
      </p>
    </h1>

    <div>
      <fragment HEAD <div
        ><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></fragment
      >
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
        <div
      >
        <img
          class="mx-auto"
          src="/img/illu3indexs3.svg"
          alt="En telefon med timeglas"
        />
      </p>
      <p
        class="text-black font-regular text-body-bold-m-m text-center font-primary"
      >
        Forlænger dine enheders <br />levetid
      </p>
    </div>

    <div>
      <div class="mt-40">
        <<<<<<< HEAD
        <img class="mx-auto" src="/img/illu4indexs3.svg" alt="" />
      </div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
        <img
        class="mx-auto"
        src="/img/illu4indexs3.svg"
        alt="En fil med en lås på"
      >
      </p>
    </div>
    <p
      class="text-black font-regular text-body-bold-m-m text-center font-primary"
    >
      >>>>>> 03d020bedd864660337435b6797340102bed52ff > Reducerer
      sikkerhedsrisici ved <br /> datalagring
    </p>
  </div>

  <div class="-mt-40">
    <fragment HEAD <div
      ><img class="mx-auto" src="/img/illu5indexs3.svg" alt="" /></fragment
    >
    <p
      class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      <div
    >
      <img
        class="mx-auto"
        src="/img/illu5indexs3.svg"
        alt="En reol med mere lærigsplads"
      />
    </p>
    <p
      class="text-black font-regular text-body-bold-m-m text-center font-primary"
    >
      >>>>>> 03d020bedd864660337435b6797340102bed52ff > Øger disk- og
      serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
    </p>
  </div>
</div>
