<div class="bg-gron-100-o33 md:hidden">
  <h1 class="text-black-o38 text-center text-h1-m font-bold font-primary py-20">
    Problemet med digital skrald
  </h1>

  <div class="flex flex-col gap-4 pb-20">
    <div>
      <div><img class="mx-auto" src="/img/illu1indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Hjælper med at reducere CO2- <br />udledning
      </p>
    </div>

    <div>
      <div><img class="mx-auto" src="/img/illu2indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Fremskynder og forenkler deling <br /> og søgning af information
      </p>
    </div>

    <div>
      <div><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Forlænger dine enheders <br />levetid
      </p>
    </div>

    <div>
      <div><img class="mx-auto" src="/img/illu4indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Reducerer sikkerhedsrisici ved <br /> datalagring
      </p>
    </div>

    <div>
      <div><img class="mx-auto" src="/img/illu5indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Øger disk- og serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
      </p>
    </div>
  </div>
</div>

<div class="hidden md:block bg-gron-100-o33 px-10">
  <h1 class="text-black-o38 text-h2-d font-bold font-primary py-20">
    Problemet med digital skrald
  </h1>

  <div class="grid grid-cols-5 gap-4 pb-20">
    <div>
      <div class="">
        <img class="mx-auto" src="/img/illu1indexs3.svg" alt="" />
      </div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Hjælper med at reducere CO2- <br />udledning
      </p>
    </div>

    <div>
      <div class="mt-40">
        <img class="mx-auto" src="/img/illu2indexs3.svg" alt="" />
      </div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Fremskynder og forenkler deling <br /> og søgning af information
      </p>
    </div>

    <div>
      <div><img class="mx-auto" src="/img/illu3indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Forlænger dine enheders <br />levetid
      </p>
    </div>

    <div>
      <div class="mt-40">
        <img class="mx-auto" src="/img/illu4indexs3.svg" alt="" />
      </div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Reducerer sikkerhedsrisici ved <br /> datalagring
      </p>
    </div>

    <div class="-mt-40">
      <div><img class="mx-auto" src="/img/illu5indexs3.svg" alt="" /></div>
      <p
        class="text-black-o38 font-bold text-body-bold-m-m text-center font-primary"
      >
        Øger disk- og serverkapacitet, <br /> hjælper med at reducere <br /> omkostningerne
      </p>
    </div>
  </div>
</div>
